{% extends 'base.html.twig' %}

{% block title %}Creation du profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 pt-5">Créez votre profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.name) }}
        {{ form_row(form.dateDeNaissance) }}
        {{ form_row(form.photoFile) }}
        {{ form_row(form.sexe) }}
        {{ form_row(form.objectifSportif) }}
        {{ form_row(form.bio) }}
        {{ form_row(form.idProfileCoach) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}