{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5 justify-content-start">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header bg-light text-white">
                    <h1 class="fs-4 mb-0 text-primary">Bonjour {{ app.user.firstName }} {{ app.user.name }} !</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="{{ asset('images/photos/' ~ profile.photo) }}" class="card-img-top" alt="Profile">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <h2>Informations personnelles :</h2>
                            <ul class="list-group">
                                <li class="list-group-item">Prénom : {{ app.user.firstName }}</li>
                                <li class="list-group-item">Nom : {{ app.user.name }}</li>
                                <li class="list-group-item">Email : {{ app.user.email }}</li>
                                <li class="list-group-item">Profil créé le : {{ profile.createdAt | date('d/m/Y') }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <h2>Objectifs :</h2>
                            <ul class="list-group">
                                <li class="list-group-item">Objectif sportif : {{ profile.objectifSportif }}</li>
                                <li class="list-group-item">Biographie : {{ profile.bio }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header bg-light text-dark">
                    <h2 class="fs-4 mb-0">Abonnement</h2>
                </div>
                <div class="card-body">
                {% if profile.idAbonnement %}
                    <h2 class="card-title text-center my-2">{{ profile.idAbonnement.title }}</h2>
                    <ul class="list-unstyled">
                        {% set abonnement_details = profile.idAbonnement.description|split(", ") %}
                        {% for detail in abonnement_details %}
                            <li class="mb-2">{{ detail|replace({'. ': ''}) }}</li>
                        {% endfor %}
                    </ul>
                        <p class="card-text text-center mt-4"><strong>Prix de l'abonnement est de: {{ profile.idAbonnement.prix }}€ / an</strong></p>
                        {% if profile.idAbonnement.title == "Vip" %}
                            <a href="#" class="btn btn-primary btn-sm">Accès aux vidéos</a>
                        {% endif %}
                    {% else %}
                        <p>Aucun abonnement choisi.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

