{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Modifier mon Profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Modifier mon Profil</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" action="{{ path('app_update_profile') }}">
                {{ form_start(form) }}
                {{ form_row(form.name, {'label': 'Nom'}) }}
                {{ form_row(form.firstName, {'label': 'Prénom'}) }}
                {{ form_row(form.bio, {'label': 'Biographie'}) }}
                {{ form_row(form.photoFile, {'label': 'Photo'}) }}
                {{ form_row(form.objectifSportif, {'label': 'Objectif Sportif'}) }}
                {{ form_row(form.age, {'label': 'Age'}) }}
                {{ form_row(form.sexe, {'label': 'Sexe'}) }}
                {{ form_row(form.idProfileCoach, {'label': 'Coach'}) }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
