{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Modifier mon Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card shadow p-3">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Modifier mon Profil</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ path('app_update_profile') }}">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.name, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.firstName, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.bio, {'label': 'Biographie', 'attr': {'class': 'form-control', 'rows': 3}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.photoFile, {'label': 'Photo', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.objectifSportif, {'label': 'Objectif Sportif', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.dateDeNaissance, {'label': 'Date de Naissance', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.sexe, {'label': 'Sexe', 'attr': {'class': 'form-select'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.idProfileCoach, {'label': 'Coach', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
