{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Votre Panier</h1>
        {% if panier is empty %}
            <div class="alert alert-info" role="alert">
                Votre panier est vide.
            </div>
        {% else %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ panier.idAbonnement.title }}</h2>
                    <p class="card-text">{{ panier.idAbonnement.description }}</p>
                    <p class="card-text"><strong>Prix :</strong> {{ panier.idAbonnement.prix }}€/an</p>
                    <form action="{{ path('app_pay', {'id': panier.idAbonnement.id}) }}" method="post">
                        <input type="hidden" name="product_id" value="{{ panier.idAbonnement.id }}">
                        <button type="submit" class="btn btn-primary">Payer</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
