{% extends 'base.html.twig' %}

{% block title %}Envoyer un message - Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Envoyer un message</h2>
        {{ form_start(messageForm) }}
            <div class="mb-3">
                {{ form_label(messageForm.title) }}
                {{ form_widget(messageForm.title, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(messageForm.content) }}
                {{ form_widget(messageForm.content, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(messageForm.idProfileCoach) }}
                {{ form_widget(messageForm.idProfileCoach, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(messageForm) }}
    </div>
{% endblock %}
