{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center my-5">Découvrez nos Abonnements</h1>
            <div class="row">
                {% for abonnement in abonnements %}
                <div class="col-lg-4 col-sm-12 col-md-12 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <h2 class="card-title text-center my-4 display-6 fw-bold">{{ abonnement.title }}</h2>
                            <ul class="list-unstyled">
                                {% set abonnement_details = abonnement.description|split(", ") %}
                                {% for detail in abonnement_details %}
                                    <li>{{ detail|replace({'. ': ''}) }}</li>
                                    {% if not loop.last %}
                                        <hr class="w-50 mx-auto">
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <p class="card-text text-center mt-4"><strong>{{ abonnement.prix }}€ / an</strong></p>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-center">
                            {% if not app.user %}
                                <a href="{{ path('app_register') }}" class="btn btn-success btn-lg">Inscrivez-vous</a>
                            {% elseif app.user and app.user.profile is null %}
                                <a href="{{ path('app_edit_profile') }}" class="btn btn-success btn-lg">Complétez votre profil</a>
                            {% elseif app.user.profile.idAbonnement is null %}
                                <a href="{{ path('app_panier', {'id': abonnement.id}) }}" class="btn btn-success btn-lg">Je choisis</a>
                            {% else %}
                                <a href="{{ path('app_panier', {'id': abonnement.id}) }}" class="btn btn-success btn-lg">Je choisis</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
