{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block javascripts %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.12/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.12/locales-all.js'></script> <!-- Ajout du script de langue -->
<script>
   document.addEventListener('DOMContentLoaded', function() {
       let calendarEl = document.querySelector('#calendar');
       let calendar = new FullCalendar.Calendar(calendarEl, {
           initialView: 'dayGridMonth',
           locale: 'fr', // Configuration de la langue française
           events: [
               {% for reservation in reservations %}
                   {% if reservation.idProfile is not null %}
                       {
                            title: '{{ reservation.idProfile.firstName }}',
                            start: '{{ reservation.date|date('Y-m-d') }}T{{ reservation.startTime|date('H:i:s') }}'
                       },
                   {% endif %}
               {% endfor %}
           ],
           dateClick: function(info) {
               window.location.href = '{{ path('app_reservation_new') }}?date=' + info.dateStr;
           }
       });
       calendar.render();
   });
</script>
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title">Réserver un créneau</h1>
                </div>
                  {% if reservations is not empty %}
                        {% for reservation in reservations %}
                        <p class="alert alert-light m-0">Vous avez deja rendez vous le {{ reservation.date|date('d/m/Y') }} à {{ reservation.startTime|date('H:i') }} avec le coach {{ reservation.idProfileCoach.firstName }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Aucune réservation existante pour aujourd'hui.</p>
                    {% endif %}
                <div class="card-body">
                    <a href="{{ path('app_profile') }}" class="btn btn-secondary btn-sm mb-3">Retour</a>
                    <p class="fs-6 fst-italic">Les créneaux disponibles par jour : 8h, 9h, 10h, 11h</p>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




