{% extends 'base.html.twig' %}

{% block title %}Modifier le rendez-vous{% endblock %}

{% block body %}
    <h1>Modifier le rendez-vous</h1>
    <a href="{{ path('app_profile') }}" class="btn btn-primary btn-sm my-2">Retour</a>
    {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.startTime) }}
    {{ form_row(form.idProfileCoach)}}
    <button type="submit" class="btn btn-primary mt-3">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}
