{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Resiliation{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('resiliation') }}
{% endblock %}

{% block meta_description %}Bienvenue sur l'espace de resiliation de FitLife360.{% endblock %}

{% block body %}
	<div class="container p-5">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="card shadow-lg border-0">
					<div class="card-body p-5">
						<h2 class="text-center mb-4">Demande de résiliation de votre abonnement</h2>
						{{ form_start(resiliationForm, {'attr': {'class': 'row g-3'}}) }}
						<div class="mb-3">
							{{ form_label(resiliationForm.objet, 'Objet', {'class': 'form-label'}) }}
							{{ form_widget(resiliationForm.objet, {'attr': {'class': 'form-control', 'placeholder': 'Selectionne ton motif'}}) }}
						</div>
						<div class="mb-3">
							{{ form_label(resiliationForm.content, 'Message', {'class': 'form-label'}) }}
							{{ form_widget(resiliationForm.content, {'attr': {'class': 'form-control', 'rows': '9', 'placeholder': 'Entrez votre message'}}) }}
						</div>
						<div class="text-center resiliationSubmit">
							<button type="submit" class="btn btn-lg resiliationSubmit_btn btn text-decoration-none text-white fw-bold">Envoyer</button>
						</div>
						{{ form_end(resiliationForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}