{% extends 'base.html.twig' %}

{% block title %}Tutoriel vidéo{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="display-4 fw-bold text-center mb-5">Vidéos sportives</h1>
    <p class="fst-italic mb-4 fs-5">Ajout d'une vidéo par semaine</p>
    <a href="{{ path('app_profile') }}" class="btn btn-success btn-lg mb-3">Retourner à mon profil</a>
    <h2 class="fs-5 mb-4">Bienvenue sur votre espace vidéo, <strong class="text-success">{{ app.user.firstName }}</strong>. Vous trouverez ci-dessous des tutoriels pour vous aider à pratiquer des activités sportives en autonomie.</h2>
    <p class="fs-5 mb-4">Nombre total de vidéos : {{ videos|length }}</p>
    <div class="row">
        {% for video in videos %}
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card h-100 border-0 shadow">
                <div class="ratio ratio-16x9">
                    <iframe src="{{ video.url }}" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ video.title }}</h3>
                    <p class="card-text">Type : {{ video.description }}</p>
                    <p class="card-text">Durée : {{ video.temps }}</p>
                    <p class="card-text"><small class="text-muted">Ajout le : {{ video.datePublication | date('d/m/Y') }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
