{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Recherche{% endblock %}

{% block body %}
<section class="sectionSearch bg-light py-5">
    <div class="container">
        <div class="row justify-content-center colorBlue">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div class="text-center">
                    <h1 class="playfair fs-1 my-4">Trouvez un Coach près de chez vous</h1>
                    <p class="fst-italic poppins my-4">"Découvrez notre réseau de coachs certifiés disponibles pour vous accompagner dans votre parcours vers une meilleure forme physique et bien-être. Utilisez le formulaire ci-dessous pour trouver un coach adapté à vos besoins et à votre localisation"</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-3 poppins">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card bg-light shadow-lg rounded-3">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4 colorBlue">Rechercher un coach</h3>
                        <form method="get" action="{{ path('search_coaches') }}">
                            <div class="input-group mb-3 search">
                                <input type="text" name="location" placeholder="Entrez une ville" class="form-control" required>
                                <button type="submit" class="search_btn btn text-white"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                        <a href="{{ path('app_home') }}" class="btn btn-outline-secondary btn-ms mb-3">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
        {% if sessions is not empty %}
            <h2 class="mt-5 fs-5 text-center">Résultats de recherche :</h2>
            <div class="row justify-content-center">
                {% for session in sessions %}
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                        <div class="card shadow-lg border-0 h-100 p-2">
                            <div class="card-body search colorBlue">
                                <h3 class="card-title fs-4">{{ session.idProfileCoach.firstname }} {{ session.idProfileCoach.name }}</h3>
                                <img src="{{ asset('images/photos/' ~ session.idProfileCoach.photo) }}" alt="photo du coach" class="w-100 my-2 rounded-circle">
                                <p class="card-text"><strong>Expertise du coach :</strong> {{ session.idProfileCoach.expertise }}</p>
                                <p class="card-text"><strong>Lieu de présentiel :</strong> {{ session.lieu }}</p>
                                <p class="card-text"><strong>Tarifs :</strong> {{ session.prix }}</p>
                                <button class="search_btn btn btn-sm">
                                    <a href="{{ path('app_apropos') }}" class="text-decoration-none fw-bold text-white">
                                        <i class="fa-solid fa-user me-2"></i>Voir le profil
                                    </a>
                                </button>
                                <button class="search_btn btn btn-sm">
                                    <a href="{{ path('contact_coach_form', {'id': session.idProfileCoach.id}) }}" class="text-decoration-none fw-bold text-white">
                                        <i class="fa-solid fa-phone me-2"></i>Contacter-moi
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Aucune session trouvée pour cet emplacement.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
