{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Contact{% endblock %}

{% block body %}
<div class="container p-5 poppins">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5 colorBlue">
                    <a href="{{ path('app_home') }}" class="btn btn-outline-secondary btn-md mb-3">Retour</a>
                    <h2 class="text-center mb-4">Contacter {{ coach.firstName }} {{ coach.name }} 🏋️‍♂️</h2>
                    {{ form_start(contactCoachForm, {'attr': {'class': 'row g-3'}}) }}
                    {% if not app.user %}
                        <div class="mb-3">
                            {{ form_label(contactCoachForm.name, 'Nom', {'class': 'form-label'}) }}
                            {{ form_widget(contactCoachForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(contactCoachForm.firstName, 'Prénom', {'class': 'form-label'}) }}
                            {{ form_widget(contactCoachForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(contactCoachForm.email, 'Email', {'class': 'form-label'}) }}
                            {{ form_widget(contactCoachForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}}) }}
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        {{ form_label(contactCoachForm.objet, 'Objet', {'class': 'form-label'}) }}
                        {{ form_widget(contactCoachForm.objet, {'attr': {'class': 'form-control', 'placeholder': 'Selectionne ton motif'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(contactCoachForm.content, 'Message', {'class': 'form-label'}) }}
                        {{ form_widget(contactCoachForm.content, {'attr': {'class': 'form-control', 'rows': '9', 'placeholder': 'Entrez votre message'}})  }}
                    </div>
                    <div class="text-center divContact">
                        <button type="submit" class="divContact_btn btn btn-lg text-white">Envoyer</button>
                    </div>
                    {{ form_end(contactCoachForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const objetField = document.getElementById('contact_coach_objet');
		const contentField = document.getElementById('contact_coach_content');
		const messages = {
            'Je souhaite des informations': 'Bonjour,\n\nJe suis très intéressé(e) par vos séances de coaching en présentiel et j\'aimerais en savoir plus. Pourriez-vous me fournir des détails sur les types de séances que vous proposez, ainsi que vos tarifs et disponibilités ?\n\nMerci beaucoup pour votre réponse.\n\nCordialement',
    'Je souhaite prendre un rendez-vous': 'Bonjour,\n\nJe souhaiterais réserver une séance de coaching en présentiel avec vous. Pourriez-vous me faire savoir vos créneaux disponibles afin que nous puissions fixer un rendez-vous ? Je suis impatient(e) de commencer et de bénéficier de votre expertise.\n\nMerci beaucoup pour votre aide.\n\nCordialement',
        }
        objetField.addEventListener('change', (event) => {
			const selectedObjet = event.target.value;
			contentField.value = messages[selectedObjet] || '';
		});
    });
</script>
{% endblock %}