<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.jpeg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('commons/menu.html.twig') }}
        {{ include('commons/message.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('commons/reseaux.html.twig')}}
        {{ include('commons/footer.html.twig') }}
    </body>
</html>