{% extends 'base.html.twig' %}

{% block title %}Créer un plan d'entraînement{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mt-5 playfair colorBlue">Créer un plan d'entraînement</h1>
        <div class="row mt-5 poppins">
            <div class="col-lg-12 col-md-12 col-sm-12 colorBlue programmeEdit">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.duree, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.objectif, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.niveau, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.idProfile, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="programmeEdit_btn btn btn-md text-white w-25">Créer le programme d'entraînement</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
