{% extends 'base.html.twig' %}

{% block title %}Détails de l'Entraînement{% endblock %}

{% block meta_description %}Découvrez nos programmes d'entraînement proposés par FitLife360.{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row mb-4">
			<div class="d-flex flex-row gap-4">
				<a class="btn btn-outline-secondary btn-sm" href="{{ path('app_coach_list_entrainements') }}">Liste des entrainements</a>
				<a class="btn btn-outline-secondary btn-sm" href="{{ path('app_coach') }}">Retour à mon profil coach</a>
			</div>
		</div>
		<h1 class="mb-4">Détail du programme d'entraînement</h1>
		<div class="row">
			<div class="col-lg-5 col-md-12 col-sm-12">
				{{ form_start(form) }}
				<div class="mb-3">
					{{ form_row(form.day, {'attr': {'class': 'form-control', 'placeholder': 'Jour'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.echauffement, {'attr': {'class': 'form-control', 'placeholder': 'Échauffement'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.exercices, {'attr': {'class': 'form-control', 'placeholder': 'Exercices', 'rows': '1'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.series, {'attr': {'class': 'form-control', 'placeholder': 'Séries', 'rows': '1'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.repetitions, {'attr': {'class': 'form-control', 'placeholder': 'Répétitions', 'rows': '1'}}) }}
				</div>
				<div class="mb-3">
                    {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description', 'rows': '6'}}) }}
                </div>
				<button type="submit" class="btn btn-outline-success">Enregistrer cet exercice</button>
				{{ form_end(form) }}
			</div>
			<div class="col-lg-7 col-md-12 col-sm-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Jour</th>
							<th scope="col">Échauffement</th>
							<th scope="col">Exercice</th>
							<th scope="col">Séries</th>
							<th scope="col">Répétitions</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						{% for detail in detailsEntrainement %}
							<tr>
								<td>{{ detail.day }}</td>
								<td>{{ detail.echauffement }}</td>
								<td>{{ detail.exercices }}</td>
								<td>{{ detail.series }}</td>
								<td>{{ detail.repetitions }}</td>
								<td>{{ detail.description }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if detailsEntrainement is not empty %}
					<a class="btn btn-outline-success w-25" href="{{ path('app_coach') }}">Valider le programme</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
