{% extends 'base.html.twig' %}

{% block title %}FitLife360-Coach{% endblock %}

{% block meta_description %}Bienvenue sur l'espace coach de FitLife360.{% endblock %}

{% block body %}
    <div class="container mt-5 poppins">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header text-white bgBlue">
                        <h1 class="fs-4 mb-0 display-5">Bienvenue, Coach {{ profileCoach.firstName }}</h1>
                    </div>
                    <div class="card-body bg-light divProfile">
                        <div class="text-center">
                            <img src="{{ asset('images/photos/' ~ profileCoach.photo) }}" class="rounded-circle img-fluid mb-4" alt="image de profil">
                        </div>
                        <div class="mt-4 colorBlue">
                            <h2 class="fs-4 mb-3 text-decoration-underline colorRed">Informations personnelles :</h2>
                            <ul class="p-0 list-unstyled">
                                <li>
                                    <p><strong>Prénom :</strong> {{ profileCoach.firstName }}</p>
                                </li>
                                <li>
                                    <p><strong>Nom :</strong> {{ profileCoach.name }}</p>
                                </li>
                                <li>
                                    <p><strong>Date de naissance :</strong> {{ profileCoach.dob | date('d/m/Y') }}</p>
                                </li>
                                <li>
                                    <p><strong>Profil créé le :</strong> {{ profileCoach.createdAt | date('d/m/Y') }}</p>
                                </li>
                                <li>
                                    <p><strong>Diplôme :</strong> {{ profileCoach.diplome }}</p>
                                </li>
                                <li>
                                    <p><strong>Expérience :</strong> {{ profileCoach.experience }}</p>
                                </li>
                                <li>
                                    <p><strong>Statut :</strong> {{ profileCoach.contrat }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-4 colorBlue">
                            <h2 class="fs-4 mb-3 colorRed text-decoration-underline">À propos de moi :</h2>
                            <p class="fst-italic">"{{ profileCoach.bio }}"</p>
                        </div>
                        <a href="{{ path('app_update_coach') }}" class="divProfile_btn btn btn-md text-decoration-none divProfile_btn--link">Modifier mon profil</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header bgBlue">
                        <h2 class="fs-5 mb-0 display-6 text-white">Plans d'entraînement</h2>
                    </div>
                    <div class="card-body bg-light">
                        <div class="text-center mb-3 divProfile">
                            <a href="{{ path('app_coach_create_entrainement') }}" class="divProfile_btn btn btn-md text-decoration-none divProfile_btn--link">Créer un plan</a>
                            <a href="{{ path('app_coach_list_entrainements') }}" class="divProfile_btn btn btn-md text-decoration-none divProfile_btn--link">Modifier les plans</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header bgBlue text-white">
                        <h2 class="fs-5 mb-0 display-6">Rendez-vous avec les membres</h2>
                    </div>
                    <div class="card-body bg-light">
                        {% if reservations|length > 0 %}
                            {% for reservation in reservations %}
                                <div class="card mb-3 colorBlue">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li><i class="fa-solid fa-user"></i> : {{ reservation.idProfile.firstName }} {{ reservation.idProfile.name }}</li>
                                            <li><strong>Date du rendez-vous </strong> : {{ reservation.date|date('d/m/Y') }}</li>
                                            <li><strong>Heure du rendez-vous </strong> : {{ reservation.startTime|date('H:i') }}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center fst-italic">Aucun rendez-vous</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header bgBlue text-white">
                        <h2 class="fs-5 mb-0 display-6">Liste des membres</h2>
                    </div>
                    <div class="card-body bg-light">
                        {% for profile in profiles %}
                            <div class="card mb-3 colorBlue">
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-solid fa-user"></i> : {{ profile.firstName }} {{ profile.name }}</li>
                                        <li><strong>Membre depuis le </strong> : {{ profile.createdAt|date('d/m/Y') }}</li>
                                        <li><i class="fa-solid fa-bullseye"></i> : {{ profile.objectifSportif }}</li>
                                        <li><i class="fa-solid fa-seedling"></i> : {{ profile.sexe }}</li>
                                        {% if profile.idProfileCoach %}
                                        <li><strong>Coach attitré </strong> : {{ profile.idProfileCoach.firstName }} {{ profile.idProfileCoach.name }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header bgBlue text-white">
                        <h2 class="fs-5 mb-0 display-6">Messages coaching en presentiel</h2>
                    </div>
                    <div class="card-body bg-light">
                        {% if messages is not empty %}
                            {% for message in messages %}
                                <div class="card mb-3 colorBlue">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li><strong>De :</strong> {{ message.getFirstName() }} {{ message.getName() }}</li>
                                            <li><strong>Objet :</strong> {{ message.getObjet() }}</li>
                                            <li><strong>Email :</strong> <a href="mailto:{{ message.getEmail() }}" target="_blank">{{ message.getEmail() }}</a></li>
                                            <li><strong>Date :</strong> {{ message.getCreatedAt()|date('d/m/Y H:i') }}</li>
                                            <li><strong>Message :</strong> {{ message.getContent() }}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center fst-italic">Aucun message reçu.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}