{% extends 'base.html.twig' %}

{% block title %}FitLife360-Coach
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5 justify-content-start">
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-header bg-light text-white">
						<h1 class="fs-4 mb-0 text-success">Bonjour Coach
							{{ profileCoach.firstName }}
							{{ profileCoach.name }}</h1>
					</div>
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12">
									<img src="{{ asset('images/photos/' ~ profileCoach.photo) }}" class="card-img-top" alt="Profile">
								</div>
							</div>
							<div class="row mt-5">
								<div class="col-lg-12">
									<h2>Informations personnelles :</h2>
									<ul class="list-group">
										<li class="list-group-item">Date de naissance:
											{{ profileCoach.dob|date('d/m/Y') }}</li>
										<li class="list-group-item">Profil Coach créé le:
											{{ profileCoach.createdAt|date('d/m/Y') }}</li>
									</ul>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-lg-12">
									<h2>Qui suis-je ?</h2>
									<ul class="list-group">
										<li class="list-group-item">Ma biographie:
											{{ profileCoach.bio }}</li>
										<li class="list-group-item">Mon diplôme:
											{{ profileCoach.diplome }}</li>
										<li class="list-group-item">Mon experience:
											{{ profileCoach.experience }}</li>
										<li class="list-group-item">Mon statut:
											{{ profileCoach.contrat }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row mt-3 d-flex flex-column">
					<div class="card mb-4">
						<div class="card-header bg-light text-dark">
							<h2>Plans d'entrainement</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-2 my-2">
									<a href="{{ path('app_coach_create_entrainement') }}" class="btn btn-success btn-block">Créer</a>
								</div>
								<div class="col-lg-2 my-2">
									<a href="{{ path('app_coach_list_entrainements') }}" class="btn btn-success btn-block">Modifier</a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row mt-3 d-flex flex-column">
					<div class="card mb-4">
						<div class="card-header bg-light text-dark">
							<h2>Plans alimentaires</h2>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-2 my-2">
									<a href="{{ path('app_coach_create_alimentaire') }}" class="btn btn-info btn-block">Créer</a>
								</div>
								<div class="col-lg-2 my-2">
									<a href="#" class="btn btn-info btn-block">Modifier</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
