{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Modifier l'Entraînement{% endblock %}

{% block body %}
<div class="container my-5 colorBlue">
    <h1 class="text-center mb-5 playfair colorBlue">Modifier l'Entraînement</h1>
    <div class="row poppins">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form method="post" class="bg-light p-4 rounded shadow-sm">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.idProfile, {'label': 'Client', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.title, {'label': 'Titre', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.description, {'label': 'Description', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.duree, {'label': 'Durée', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.objectif, {'label': 'Objectif', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.niveau, {'label': 'Niveau', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.type, {'label': 'Type', 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-outline-danger">Enregistrer</button>
                    <a href="{{ path('app_coach_list_entrainements') }}" class="btn btn-outline-secondary">Annuler</a>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
