{% extends 'base.html.twig' %}

{% block title %}FitLife360 - Modifier l'Entraînement{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Modifier l'Entraînement</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                {{ form_start(form) }}
                {{ form_row(form.idProfile, {'label': 'Client'}) }}
                {{ form_row(form.title, {'label': 'Titre'}) }}
                {{ form_row(form.description, {'label': 'Description'}) }}
                {{ form_row(form.duree, {'label': 'Durée'}) }}
                {{ form_row(form.objectif, {'label': 'Objectif'}) }}
                {{ form_row(form.niveau, {'label': 'Niveau'}) }}
                {{ form_row(form.type, {'label': 'Type'}) }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}