{% extends 'base.html.twig' %}

{% block title %}FitLife360-Plan d'entrainement{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Mon Plan d'entrainement</h1>
    {% for planEntrainement in planEntrainements %}
    <div class="row mb-5">
        <div class="col">
            <h2 class="fw-bold">{{ planEntrainement.title }}</h2>
            <p class="lead">"{{ planEntrainement.description }}"</p>
            <p class="lead">{{ planEntrainement.duree }} mois</p>
            <p class="lead">{{ planEntrainement.objectif }}</p>
            <p class="lead">{{ planEntrainement.niveau }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}