{% extends 'base.html.twig' %}

{% block title %}FitLife360-Plan d'entrainement{% endblock %}

{% block meta_description %}Bienvenue sur l'espace entrainement de FitLife360.{% endblock %}

{% block body %}
<div class="container mt-5 colorBlue">
    <h1 class="text-center mb-5 playfair">Mon Plan d'entrainement</h1>
    {% for planEntrainement in planEntrainements %}
    <div class="row mb-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="fw-bold colorRed">{{ planEntrainement.title }}</h2>
            <div class="plan-details fs-5">
                <p><strong>Description:</strong> {{ planEntrainement.description | raw }}</p>
                <p><strong>Durée:</strong> {{ planEntrainement.duree }}</p>
                <p><strong>Objectif:</strong> {{ planEntrainement.objectif }}</p>
                <p><strong>Niveau:</strong> {{ planEntrainement.niveau }}</p>
                {% set detailsByDay = {} %}
                {% for detailEntrainement in planEntrainement.detailEntrainements %}
                    {% set day = detailEntrainement.day %}
                    {% set detailsByDay = detailsByDay|merge({ (day): detailsByDay[day]|default([])|merge([detailEntrainement]) }) %}
                {% endfor %}
                {% for day, details in detailsByDay %}
                    <h3 class="colorRed fs-3">{{ day }}</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="colorBlue fs-5">Échauffement</th>
                                <th class="colorBlue fs-5">Exercice</th>
                                <th class="colorBlue fs-5">Séries</th>
                                <th class="colorBlue fs-5">Répétitions</th>
                                {# <th>Description</th> #}
                            </tr>
                        </thead>
                        <tbody>
                            {% for detailEntrainement in details %}
                            <tr>
                                <td class="colorBlue">{{ detailEntrainement.echauffement }}</td>
                                <td class="colorBlue">{{ detailEntrainement.exercices }}</td>
                                <td class="colorBlue">{{ detailEntrainement.series }}</td>
                                <td class="colorBlue">{{ detailEntrainement.repetitions }}</td>
                                {# <td>{{ detailEntrainement.description }}</td> #}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
