{% extends 'base.html.twig' %}

{% block title %}FitLife360-Plan d'entrainement{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5">Mon Plan d'entrainement</h1>
    {% for planEntrainement in planEntrainements %}
    <div class="row mb-5">
        <div class="col">
            <h2 class="fw-bold">{{ planEntrainement.title }}</h2>
            <div class="plan-details">
                <p><strong>Description:</strong> {{ planEntrainement.description }}</p>
                <p><strong>Durée:</strong> {{ planEntrainement.duree }}</p>
                <p><strong>Objectif:</strong> {{ planEntrainement.objectif }}</p>
                <p><strong>Niveau:</strong> {{ planEntrainement.niveau }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
